APP_NAME="UMKM Desa Bojongsawah"
APP_ENV=production
APP_KEY=base64:jEKG3iDrY3UCuytnsc/1bX8r9xaue2d72s1Zg2CuD2M=
APP_DEBUG=false
APP_TIMEZONE="Asia/Jakarta"
APP_URL=https://bojongsawah.my.id

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

DB_CONNECTION=sqlite

FILESYSTEM_DISK=public
SESSION_DRIVER=cookie
CACHE_STORE=array
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@bojongsawah.my.id"
MAIL_FROM_NAME="UMKM Desa Bojongsawah"
